// !Breakpoints
// *layout breakpoint medium  -> lbm
// *layout breakpoint small   -> lbs
// *layout breakpoint xsmall  -> lbxs

$lbm: 1060px;
$lbs: 768px;
$lbxs: 480px;

// !Colors

$primary: #186fb3;
$color-2: #2f3954;
$color-3: #72809d;
$black: black;
$white: white;