.contact {
  form {
    padding: 30px;
    h4 {
      margin-bottom: 30px;
      @media screen and (max-width: 768px) {
        width: 100%;
        margin-bottom: 30px;
      }
    }
    div {
      display: flex;
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
    }
    textarea {
      width: 1005px;
      border-radius: 5px;
      margin-bottom: 20px;
    }
    textarea,
    input {
        padding: 10px;
      margin-bottom: 20px;
      margin-right: 10px;
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
