@use "../global/variables" as *;

.footerContact {
  background-color: #122947;
  padding: 40px 0;
  color: #fff;
  .send {
    @media screen and (max-width: 540px) {
      display: flex;
      flex-direction: column;
    }
    button {
      @media screen and (max-width: 540px) {
        margin-top: 20px;
      }
    }
  }
  h1 {
    font-size: 40px;
  }
}

footer {
  background-color: #1d2636;
  padding: 50px 0;
  color: #fff;
  .container {
    display: grid;
    grid-template-columns: 6fr 2fr 2fr 1fr;
    gap: 20px;

    @media screen and (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 425px) {
      grid-template-columns: repeat(1, 1fr);
    }
    h1 {
      font-size: 40px;
      span {
        color: $primary;
      }
    }
    h2 {
      font-weight: 500;
    }
    p {
      color: grey;
    }
    .input {
      @media screen and (max-width: 540px) {
        margin-top: 10px;
        flex-direction: column;
        row-gap: 20px;
      }
      input {
        background-color: #fff;
        padding: 17px;
        width: 100%;
        border-radius: 5px;
      }
    }
    h3 {
      font-weight: 500;
      margin-bottom: 30px;
    }
    ul {
      display: block;
      li {
        display: block;
        color: grey;
        margin-bottom: 20px;
      }
    }
  }
}

.legal {
  text-align: center;
  padding: 20px;
  background-color: #1d2636;
  color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
